.Presentation{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    &__div-image{
        width: 250px;
        margin-right: 50px;
    
        img{
            width: 100%;
            border-radius: 50%;
        }
    }

    h1{
        font-size: 2rem !important;
        color: #d9be80;
    }

    h4{
        font-size: 1.4rem !important;
    }

    p{
        text-align: justify;
    }
}