.Skills{
    background-color: #d9be80;
    margin: 150px 0px 50px 0px;
    padding: 75px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    &__div-icons{
        display: flex;
        justify-content: space-evenly;
    }

    &__div-icon{
        display: flex;
        flex-direction: column;
    }

    &__div-icon-js:hover #spanJS, &__div-icon-html:hover #spanHTML,
    &__div-icon-css:hover #spanCSS, &__div-icon-react:hover #spanReact,
    &__div-icon-nodejs:hover #spanNodeJS, &__div-icon-php:hover #spanPHP,
    &__div-icon-github:hover #spanGitHub, &__div-icon-unity:hover #spanUnity{
        opacity: 1;
    }

    &__h1{
        font-size: 2rem;
        text-align: center;
        margin-top: 0px;
    }

    &__p{
        text-align: center;
        margin-bottom: 30px;
    }

    &__icones:hover{
        transform: scale(1.2);
        color: white;
    }
}

#spanJS, #spanHTML, #spanCSS, #spanReact, #spanNodeJS, #spanPHP, #spanGitHub, #spanUnity{
    opacity: 0;
    margin-top: 10px;
    text-align: center;
}
