.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    ul, p{
        margin: 25px;
    }

    a{
        text-decoration: none;
    }

    a:hover{
        color: #d9be80;
        text-decoration: none;
    }
}